@import url('https://googleapis.com');
/*google font*/
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/*color variables*/
:root {
    --primary: #0b132b;
    --secondary: #1c2541;
    --accent: #fca311;
    --light: #f8f9fa;
    --white: #ffffff;
}

/*navbar*/
.navbar {
    background-color: rgba(11, 19, 43, 0.85);
    backdrop-filter: blur(10px);
}
.navbar-brand {
    font-size: 2rem;
}
.nav-link {
    color: white !important;
    margin-left: 10px;
}
.nav-link:hover {
    color: var(--accent) !important;
}

/*hero section*/
.hero-section {
    min-height: 100vh;

    background:
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.55)
        ),
        url("../images/background-image2.avif");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 10px black;
}

.hero-section p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px black;
}

.find-section{
    background: var(--primary);
    color: white;
}

.find-card{
    background: #1c2541;
    color:white;
}

.find-card label{
    color: white;
}

/*buttons*/
.btn-warning {
    background-color: var(--accent);
    border: none;
}

.btn-warning:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

/* card hover effect */
.card {
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
}

/*section titles*/
.section-title {
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 40px;
}

.fleet-card{
    border: none;
    transition: 0.4s;
}

.fleet-card:hover{
    transform: translateY(-10px);
}

.fleet-card img{
    height:220px;
    object-fit: contain;
    padding: 10px;
}

.badge{
    font-size: 0.8rem;
}

.why-us{
    background: #ffffff;
}

.feature-box{
    padding: 35px 25px;
    border-radius: 20px;
    background: #1c2541;
    color: white;
    transition: 0.4s;
    height: 100%;
}

.feature-box:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
}

.feature-box i{
    font-size: 3rem;
    color: var(--accent);
    margin-bottom: 20px;
}

.feature-box h4{
    font-weight: 600;
    margin-bottom: 15px;
}

.service-card{
    background: #1c2541;
    color:white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition:0.4s;
    height:100%;
}

.service-card h4{
    color: white;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
}

.service-card i{
    font-size: 3rem;
    color: var(--accent);
    margin-bottom: 20px;
}

.vehicle-section{
    background:#f4f7fb
}

.services-section{
    background: var(--primary);
    color:white;
}

.stats-section{
    padding: 100px 0;
    background:
    linear-gradient(
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.75)
    ),
    url(../images/background-image4.jpg);

    background-size:cover;
    background-position:center;

    color:white;
}

.stats-section h2{
    font-size:3rem;
    color:var(--accent);
    font-weight:300;
}

.testimonial-card{
    max-width: 800px;
    margin: auto;

    text-align:center;
    background: #1c2541;
    padding:40px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.testimonial-card p{
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
    color: white;
}

.testimonial-card h5{
    color: var(--accent);
    font-weight: 600;
}
